version: "3.9"

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 10

  sonarqube:
    image: sonarqube:25.9.0.112764-community
    container_name: sonarqube
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    env_file: .env
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/postgres
      SONAR_JDBC_USERNAME: postgres
      SONAR_JDBC_PASSWORD: postgres
    ports:
      - "9000:9000"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
      - ./scripts:/opt/init/scripts

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9000/api/system/health | grep -q 'green'"]
      interval: 15s
      timeout: 10s
      retries: 10

volumes:
  db_data:
  sonar_data:
  sonar_extensions:
  sonar_logs:
